In [18]:
import pandas as pd
import seaborn as sns

Converting the CSV file to a pandas DataFrame.

In [2]:
data = pd.read_csv("netflixDataset.csv")

Showing the first 5 rows of the data.

In [3]:
data.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...

Showing the last 5 rows of the data.

In [4]:
data.tail()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7787,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

Showing the number of rows and columns of the data.

In [5]:
data.shape

(7789, 11)

Showing the total number of elements of the data.

In [6]:
data.size

85679

Showing what columns the data contains.

In [7]:
data.columns

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country',
       'Release_Date', 'Rating', 'Duration', 'Type', 'Description'],
      dtype='object')

Showing what data types each column of the data contains.

In [8]:
data.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

Showing how many non-null values each column contains and its data type.

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7789 entries, 0 to 7788
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Show_Id       7789 non-null   object
 1   Category      7789 non-null   object
 2   Title         7789 non-null   object
 3   Director      5401 non-null   object
 4   Cast          7071 non-null   object
 5   Country       7282 non-null   object
 6   Release_Date  7779 non-null   object
 7   Rating        7782 non-null   object
 8   Duration      7789 non-null   object
 9   Type          7789 non-null   object
 10  Description   7789 non-null   object
dtypes: object(11)
memory usage: 669.5+ KB

Showing what rows are duplicated in the data.

In [12]:
data[data.duplicated()]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
6300,s684,Movie,Backfire,Dave Patten,"Black Deniro, Byron ""Squally"" Vinson, Dominic ...",United States,"April 5, 2019",TV-MA,97 min,"Dramas, Independent Movies, Thrillers",When two would-be robbers accidentally kill a ...
6622,s6621,Movie,The Lost Okoroshi,Abba T. Makama,"Seun Ajayi, Judith Audu, Tope Tedela, Ifu Enna...",Nigeria,"September 4, 2020",TV-MA,94 min,"Comedies, Dramas, Independent Movies",A disillusioned security guard transforms into...

Removing the duplicated rows in the data.

In [14]:
data.drop_duplicates(inplace=True)

Showing what elements of the data contains null values. A value of True indicates that the value is null.

In [16]:
data.isnull()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7784,False,False,False,False,False,False,False,False,False,False,False
7785,False,False,False,False,False,False,False,False,False,False,False
7786,False,False,False,True,False,True,False,False,False,False,False
7787,False,False,False,True,False,False,False,False,False,False,False
7788,False,False,False,False,True,False,False,False,False,False,False

Showing the number of null values for each column in the data. 5 out of 11 columns contains null values.

In [17]:
data.isnull().sum()

Show_Id            0
Category           0
Title              0
Director        2388
Cast             718
Country          507
Release_Date      10
Rating             7
Duration           0
Type               0
Description        0
dtype: int64

A heatmap that displays the spread of null values for each column. The Director column contains most null values. The Release_Date column contains a single null value.

In [19]:
sns.heatmap(data.isnull())

Showing the row in which the string "House of Cards" is in the title by using isin and str.contains.

In [22]:
data[data['Title'].isin(["House of Cards"])]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
2832,s2833,TV Show,House of Cards,"Robin Wright, David Fincher, Gerald McRaney, J...","Kevin Spacey, Robin Wright, Kate Mara, Corey S...",United States,"November 2, 2018",TV-MA,6 Seasons,"TV Dramas, TV Thrillers",A ruthless politician will stop at nothing to ...

In [23]:
data[data['Title'].str.contains("House of Cards")]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
2832,s2833,TV Show,House of Cards,"Robin Wright, David Fincher, Gerald McRaney, J...","Kevin Spacey, Robin Wright, Kate Mara, Corey S...",United States,"November 2, 2018",TV-MA,6 Seasons,"TV Dramas, TV Thrillers",A ruthless politician will stop at nothing to ...

Creating a new column called "date_N" from converting the Release_Date column to a datetime type.

In [24]:
data["date_N"] = pd.to_datetime(data["Release_Date"])

<M8[ns] is a specific datetime type. On a machine whose byte order is little endian, there is no difference between np.dtype('datetime64[ns]') and np.dtype('<M8[ns]')

In [25]:
data["date_N"].dtype

dtype('<M8[ns]')

Showing the number of records in which each year is present in the date_N column. In other words, this shows the number of movies and tv-shows that were released per year.

In [26]:
data["date_N"].dt.year.value_counts()

2019.0    2153
2020.0    2009
2018.0    1685
2017.0    1225
2016.0     443
2021.0     117
2015.0      88
2014.0      25
2011.0      13
2013.0      11
2012.0       3
2009.0       2
2008.0       2
2010.0       1
Name: date_N, dtype: int64

Displaying the number of movies and tv-shows released per year as a bar plot.

In [28]:
data['date_N'].dt.year.value_counts().plot(kind='bar')

Showing only the top 2 rows of the data.

In [29]:
data.head(2)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,date_N
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020-08-14
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016-12-23

Showing the number of movies as compared to the number of tv-shows.

In [31]:
data.groupby("Category").Category.count()

Category
Movie      5377
TV Show    2410
Name: Category, dtype: int64

Showing the distribution of movies and tv-shows in the data via a countplot.

In [35]:
sns.countplot(data["Category"])

Creating a new column called "Year" that contains the year value from the date_N column.

In [36]:
data["Year"] = data["date_N"].dt.year

Showing the movies that were released in the year 2020.

In [38]:
data[(data["Category"] == "Movie") & (data["Year"] == 2020)]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,date_N,Year
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020.0
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ...",2020-06-01,2020.0
14,s15,Movie,3022,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,"March 19, 2020",R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",Stranded when the Earth is suddenly destroyed ...,2020-03-19,2020.0
27,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ...",2020-09-08,2020.0
28,s29,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",TV-14,95 min,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol...",2020-07-01,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7762,s7761,Movie,Zaki Chan,Wael Ihsan,"Ahmed Helmy, Yasmin Abdulaziz, Hassan Hosny, H...",Egypt,"May 19, 2020",TV-PG,109 min,"Comedies, International Movies, Romantic Movies",An unqualified young man has his work cut out ...,2020-05-19,2020.0
7783,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",2020-01-11,2020.0
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,2020-10-19,2020.0
7786,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",2020-09-25,2020.0
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,2020-03-01,2020.0

Showing the titles of the tv-shows that were released in India.

In [40]:
data[(data["Category"] == "TV Show") & (data["Country"] == "India")]["Title"]

86            21 Sarfarosh: Saragarhi 1897
132                              7 (Seven)
340                           Agent Raghav
364                           Akbar Birbal
533                    Anjaan: Rural Myths
                       ...
6249                  The Creative Indians
6400    The Golden Years with Javed Akhtar
6469                The House That Made Me
7294                            Typewriter
7705                       Yeh Meri Family
Name: Title, Length: 71, dtype: object

Showing the top ten directors contributed with the highest number of movies and tv-shows.

In [43]:
data["Director"].value_counts().head(10)

Raúl Campos, Jan Suter    18
Marcus Raboy              16
Jay Karas                 14
Cathy Garcia-Molina       13
Youssef Chahine           12
Martin Scorsese           12
Jay Chapman               12
Steven Spielberg          10
David Dhawan               9
Hakan Algül                8
Name: Director, dtype: int64

Showing movies that were either released in the United Kingdom or is a comedy.

In [45]:
data[(data["Category"] == "Movie") & (data["Type"].isin(["Comedies"]) | (data["Country"] == "United Kingdom"))]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,date_N,Year
19,s20,Movie,'89,NaN,"Lee Dixon, Ian Wright, Paul Merson",United Kingdom,"May 16, 2018",TV-PG,87 min,Sports Movies,"Mixing old footage with interviews, this is th...",2018-05-16,2018.0
33,s34,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,2017-09-08,2017.0
72,s73,Movie,17 Again,Burr Steers,"Zac Efron, Leslie Mann, Matthew Perry, Thomas ...",United States,"January 1, 2021",PG-13,102 min,Comedies,"Nearing a midlife crisis, thirty-something Mik...",2021-01-01,2021.0
82,s83,Movie,2036 Origin Unknown,Hasraf Dulull,"Katee Sackhoff, Ray Fearon, Julie Cox, Steven ...",United Kingdom,"December 20, 2018",TV-14,95 min,Sci-Fi & Fantasy,Working with an artificial intelligence to inv...,2018-12-20,2018.0
84,s85,Movie,21 & Over,"Jon Lucas, Scott Moore","Miles Teller, Skylar Astin, Justin Chon, Sarah...",United States,"April 16, 2019",R,93 min,Comedies,Jeff's straight-and-narrow life changes abrupt...,2019-04-16,2019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7634,s7633,Movie,Wine Country,Amy Poehler,"Amy Poehler, Maya Rudolph, Ana Gasteyer, Rache...",United States,"May 10, 2019",R,104 min,Comedies,When longtime friends meet up for a wine-soake...,2019-05-10,2019.0
7649,s7648,Movie,Without Gorky,Cosima Spender,NaN,United Kingdom,"May 31, 2017",TV-14,80 min,Documentaries,A filmmaker trains the camera on her own famil...,2017-05-31,2017.0
7664,s7663,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",TV-14,94 min,Comedies,A brilliant but clumsy high school senior vows...,2020-08-07,2020.0
7688,s7687,Movie,XV: Beyond the Tryline,Pierre Deschamps,NaN,United Kingdom,"March 18, 2020",TV-14,91 min,"Documentaries, Sports Movies","Set against the 2015 Rugby World Cup, this doc...",2020-03-18,2020.0
7725,s7724,Movie,You Can Tutu,James Brown,"Lily O'Regan, Jeannettsy Enriquez Borges, Joel...",United Kingdom,"December 31, 2017",TV-G,87 min,Children & Family Movies,A gifted young ballet dancer struggles to find...,2017-12-31,2017.0

Creating a new dataframe that contains no missing values.

In [46]:
data_new = data.dropna()

Showing the movies in which Tom Cruise is cast.

In [48]:
data_new[data_new["Cast"].str.contains("Tom Cruise")]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,date_N,Year
3860,s3861,Movie,Magnolia,Paul Thomas Anderson,"Jeremy Blackman, Tom Cruise, Melinda Dillon, A...",United States,"January 1, 2020",R,189 min,"Dramas, Independent Movies","Through chance, human action, past history and...",2020-01-01,2020.0
5071,s5071,Movie,Rain Man,Barry Levinson,"Dustin Hoffman, Tom Cruise, Valeria Golino, Ge...",United States,"July 1, 2019",R,134 min,"Classic Movies, Dramas",A fast-talking yuppie is forced to slow down w...,2019-07-01,2019.0

Showing how many unique ratings the Rating column contains.

In [50]:
data_new["Rating"].nunique()

14

Showing what unique types of ratings the Rating column contains.

In [51]:
data_new["Rating"].unique()

array(['TV-MA', 'R', 'PG-13', 'TV-14', 'TV-G', 'TV-PG', 'NR', 'PG', 'G',
       'TV-Y7', 'TV-Y', 'NC-17', 'TV-Y7-FV', 'UR'], dtype=object)

Showing the number of movies in canada that got the TV-14 rating.

In [58]:
data_new[(data_new["Rating"] == "TV-14") & (data_new["Country"] == "Canada") & (data_new["Category"] == "Movie")].shape[0]

9

Showing the number of movies that were released from the year 2018 with an R rating.

In [60]:
data_new[(data_new["Category"] == "Movie") & (data_new["Rating"] == "R") & (data_new["Year"] > 2017)].shape[0]

573

Showing all unique duration values in the Duration column.

In [61]:
data_new["Duration"].unique()

array(['93 min', '78 min', '80 min', '123 min', '1 Season', '95 min',
       '119 min', '118 min', '143 min', '103 min', '89 min', '91 min',
       '149 min', '144 min', '124 min', '110 min', '128 min', '117 min',
       '100 min', '99 min', '102 min', '104 min', '105 min', '125 min',
       '81 min', '97 min', '106 min', '107 min', '87 min', '109 min',
       '101 min', '90 min', '113 min', '114 min', '130 min', '94 min',
       '140 min', '135 min', '82 min', '70 min', '92 min', '164 min',
       '83 min', '116 min', '84 min', '86 min', '120 min', '96 min',
       '126 min', '75 min', '129 min', '77 min', '137 min', '148 min',
       '121 min', '122 min', '176 min', '85 min', '22 min', '68 min',
       '111 min', '29 min', '142 min', '168 min', '59 min', '108 min',
       '44 min', '26 min', '156 min', '98 min', '57 min', '150 min',
       '133 min', '115 min', '154 min', '127 min', '146 min', '136 min',
       '88 min', '131 min', '2 Seasons', '24 min', '112 min', '74 min',
       '63 min', '174 min', '60 min', '153 min', '158 min', '151 min',
       '162 min', '54 min', '51 min', '69 min', '64 min', '147 min',
       '42 min', '79 min', '45 min', '172 min', '53 min', '163 min',
       '55 min', '61 min', '71 min', '160 min', '171 min', '30 min',
       '48 min', '139 min', '157 min', '15 min', '72 min', '134 min',
       '161 min', '62 min', '8 Seasons', '186 min', '49 min', '73 min',
       '58 min', '65 min', '165 min', '159 min', '141 min', '132 min',
       '166 min', '76 min', '25 min', '56 min', '138 min', '67 min',
       '28 min', '66 min', '180 min', '47 min', '155 min', '14 min',
       '177 min', '9 Seasons', '46 min', '145 min', '6 Seasons', '8 min',
       '12 min', '52 min', '5 Seasons', '43 min', '4 Seasons', '185 min',
       '200 min', '169 min', '27 min', '170 min', '196 min', '33 min',
       '181 min', '32 min', '167 min', '179 min', '3 Seasons', '193 min',
       '214 min', '173 min', '192 min', '209 min', '187 min', '41 min',
       '182 min', '23 min', '224 min', '37 min', '35 min', '20 min',
       '50 min', '189 min', '152 min', '38 min', '208 min', '237 min',
       '31 min', '178 min', '194 min', '228 min', '195 min', '15 Seasons',
       '18 min', '205 min', '201 min', '40 min', '253 min', '190 min',
       '17 min', '203 min', '191 min'], dtype=object)

Creaing two new columns by splitting the Duration column. The Value column contains either the number of minutes of a movie or the number of seasons of a tv-show. The Unit column contains the unit of the value (either minutes or seasons). By setting expand to True, the columns will be added to the dataframe.

In [68]:
data_new[["Value", "Unit"]] = data_new["Duration"].str.split(' ', expand=True)

In [79]:
data_new["Value"] = pd.to_numeric(data_new["Value"])

Showing the minimum value as extracted from the Duration column. 1 refers to the number of seasons, not number of minutes.

In [80]:
data_new["Value"].min()

1

Showing the maximum number of minutes.

In [82]:
data_new["Value"].max()

253

Showing the mean value for the minute duration. The average duration of a movie is around 99 minutes.

In [83]:
data_new["Value"].mean()

99.55957579538365

Creating a new dataframe that contains only tv-shows.

In [89]:
data_tvshow = data_new[data_new["Category"] == "TV Show"]

Showing the country with the highest number of tv-shows.

In [92]:
data_tvshow.Country.value_counts().head(1)

United States    27
Name: Country, dtype: int64

Sorting the data by year in ascending order.

In [93]:
data_new.sort_values(by = "Year")

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,date_N,Year,Unit,Value
7115,s7114,Movie,To and From New York,Sorin Dan Mihalcescu,"Barbara King, Shaana Diya, John Krisiukenas, Y...",United States,"January 1, 2008",TV-MA,81 min,"Dramas, Independent Movies, Thrillers","While covering a story in New York City, a Sea...",2008-01-01,2008.0,min,81
5766,s5766,Movie,Splatter,Joe Dante,"Corey Feldman, Tony Todd, Tara Leigh, Erin Way...",United States,"November 18, 2009",TV-MA,29 min,Horror Movies,"After committing suicide, a washed-up rocker r...",2009-11-18,2009.0,min,29
3248,s3249,Movie,Just Another Love Story,Ole Bornedal,"Anders W. Berthelsen, Rebecka Hemse, Nikolaj L...",Denmark,"May 5, 2009",TV-MA,104 min,"Dramas, International Movies",When he causes a car accident that leaves a yo...,2009-05-05,2009.0,min,104
3840,s3841,Movie,Mad Ron's Prevues from Hell,Jim Monaco,"Nick Pawlow, Jordu Schell, Jay Kushwara, Micha...",United States,"November 1, 2010",NR,84 min,"Cult Movies, Horror Movies","This collection cherry-picks trailers, forgott...",2010-11-01,2010.0,min,84
3221,s3222,Movie,Joseph: King of Dreams,"Rob LaDuca, Robert C. Ramirez","Ben Affleck, Mark Hamill, Richard Herd, Mauree...",United States,"September 27, 2011",TV-PG,75 min,"Children & Family Movies, Dramas, Faith & Spir...",With his gift of dream interpretation and his ...,2011-09-27,2011.0,min,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,s1427,Movie,Cloudy with a Chance of Meatballs,"Phil Lord, Christopher Miller","Bill Hader, Anna Faris, James Caan, Andy Sambe...",United States,"January 1, 2021",PG,90 min,"Children & Family Movies, Comedies, Sci-Fi & F...",When inventor Flint Lockwood makes clouds rain...,2021-01-01,2021.0,min,90
1739,s1740,Movie,Dhobi Ghat (Mumbai Diaries),Kiran Rao,"Aamir Khan, Monica Dogra, Kriti Malhotra, Prat...",India,"January 10, 2021",TV-MA,102 min,"Dramas, International Movies","In this intimate drama, circumstances draw tog...",2021-01-10,2021.0,min,102
7553,s7552,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a...",2021-01-01,2021.0,min,102
2479,s2480,Movie,Good Hair,Jeff Stilson,"Chris Rock, Nia Long, Maya Angelou, Ice-T, Eve...",United States,"January 1, 2021",PG-13,96 min,Documentaries,Chris Rock hops around the world going from be...,2021-01-01,2021.0,min,96
3237,s3238,Movie,Julie & Julia,Nora Ephron,"Meryl Streep, Amy Adams, Stanley Tucci, Chris ...",United States,"January 1, 2021",PG-13,123 min,"Comedies, Dramas","In this heartwarming tale, Julie Powell decide...",2021-01-01,2021.0,min,123

Sorting the data by duration in descending order. The longest movies will appear at the top.

In [95]:
data_new.sort_values(by = "Value", ascending=False)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,date_N,Year,Unit,Value
6852,s6851,Movie,The School of Mischief,Houssam El-Din Mustafa,"Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...",Egypt,"May 21, 2020",TV-14,253 min,"Comedies, Dramas, International Movies",A high school teacher volunteers to transform ...,2020-05-21,2020.0,min,253
4490,s4491,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",TV-14,237 min,"Comedies, Dramas, International Movies",Hoping to prevent their father from skipping t...,2020-05-21,2020.0,min,237
5377,s5377,Movie,Sangam,Raj Kapoor,"Raj Kapoor, Vyjayanthimala, Rajendra Kumar, La...",India,"December 31, 2019",TV-14,228 min,"Classic Movies, Dramas, International Movies",Returning home from war after being assumed de...,2019-12-31,2019.0,min,228
3521,s3522,Movie,Lagaan,Ashutosh Gowariker,"Aamir Khan, Gracy Singh, Rachel Shelley, Paul ...",India,"January 10, 2021",PG,224 min,"Dramas, International Movies, Music & Musicals","In 1890s India, an arrogant British commander ...",2021-01-10,2021.0,min,224
3195,s3196,Movie,Jodhaa Akbar,Ashutosh Gowariker,"Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...",India,"October 1, 2018",TV-14,214 min,"Action & Adventure, Dramas, International Movies","In 16th-century India, what begins as a strate...",2018-10-01,2018.0,min,214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118,s3119,TV Show,James Acaster: Repertoire,Dan Lucchesi,James Acaster,United Kingdom,"March 27, 2018",TV-14,1 Season,"British TV Shows, International TV Shows, Stan...",Offbeat comic James Acaster covers the strange...,2018-03-27,2018.0,Season,1
5163,s5163,TV Show,Reply 1994,Shin Won-ho,"Go Ara, Jung Woo, Sung Dong-il, Dohee, Son Ho-...",South Korea,"August 8, 2019",TV-MA,1 Season,"International TV Shows, Korean TV Shows, Roman...","All hailing from various parts of Korea, a gro...",2019-08-08,2019.0,Season,1
5164,s5164,TV Show,Reply 1997,Shin Won-ho,"Jung Eun-ji, Seo In-guk, Shin So-yul, Ji-won E...",South Korea,"August 8, 2019",TV-MA,1 Season,"International TV Shows, Korean TV Shows, Roman...","As a teen, Shi Won was obsessed with a boy ban...",2019-08-08,2019.0,Season,1
3119,s3120,TV Show,Jamtara - Sabka Number Ayega,Soumendra Padhi,"Amit Sial, Dibyendu Bhattacharya, Aksha Pardha...",India,"January 10, 2020",TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A group of small-town young men run a lucrativ...,2020-01-10,2020.0,Season,1
1534,s1535,TV Show,Crime Diaries: Night Out,Felipe Cano,"Sebastián Osorio, Fabiana Medina, Laura Osma, ...",Mexico,"May 3, 2019",TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","After going to a Halloween party, college stud...",2019-05-03,2019.0,Season,1

Showing either drama movies or kids' tv-shows.

In [97]:
data_new[((data_new["Category"] == "Movie") & (data_new["Type"].isin(["Dramas"]))) | ((data_new["Category"] == "TV Show") & (data_new["Type"].isin(["Kids' TV"])))]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description,date_N,Year,Unit,Value
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020-01-01,2020.0,min,123
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",R,119 min,Dramas,After one of his high school students attacks ...,2019-11-01,2019.0,min,119
170,s171,Movie,A Family Man,Mark Williams,"Gerard Butler, Gretchen Mol, Alison Brie, Will...","Canada, United States","December 15, 2019",R,110 min,Dramas,A ruthless corporate headhunter battles his ri...,2019-12-15,2019.0,min,110
232,s233,Movie,A Stoning in Fulham County,Larry Elikann,"Ken Olin, Jill Eikenberry, Maureen Mueller, Gr...",United States,"October 1, 2011",TV-14,95 min,Dramas,"After reckless teens kill an Amish child, a pr...",2011-10-01,2011.0,min,95
276,s277,TV Show,Abby Hatcher,Kyran Kelly,"Macy Drouin, Wyatt White, Paul Sun-Hyung Lee, ...","United States, Canada","July 1, 2020",TV-Y,1 Season,Kids' TV,A big-hearted girl helps her Fuzzly friends wh...,2020-07-01,2020.0,Season,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7422,s7421,Movie,Villain,Philip Barantini,"Craig Fairbrass, George Russo, Robert Gleniste...",United Kingdom,"September 5, 2020",R,97 min,Dramas,"Fresh out of prison, an ex-con tries to save h...",2020-09-05,2020.0,min,97
7449,s7448,Movie,VS.,Ed Lilly,"Connor Swindells, Fola Evans-Akingbola, Nichol...",United Kingdom,"June 19, 2019",TV-MA,99 min,Dramas,A young man in foster care finds his voice in ...,2019-06-19,2019.0,min,99
7465,s7464,Movie,Wakefield,Robin Swicord,"Bryan Cranston, Jennifer Garner, Jason O'Mara,...",United States,"March 2, 2019",R,109 min,Dramas,An unhappy father and lawyer quits his suburba...,2019-03-02,2019.0,min,109
7480,s7479,Movie,War Horse,Steven Spielberg,"Emily Watson, David Thewlis, Peter Mullan, Nie...","United States, India","May 6, 2019",PG-13,147 min,Dramas,"During World War I, the bond between a young E...",2019-05-06,2019.0,min,147
7668,s7667,TV Show,World of Winx,Iginio Straffi,"Haven Paschall, Alysha Deslorieux, Jessica Paq...","Italy, United States","June 16, 2017",TV-Y7,2 Seasons,Kids' TV,"The reality show ""WOW!"" engages the Winx in th...",2017-06-16,2017.0,Seasons,2

Showing a histogram of how the movie duration is distributed.

In [108]:
data_new[data_new["Category"] == "Movie"]["Value"].plot(kind="hist")